* text=auto

*.blade.php diff=html
*.blade.php linguist-language=PHP
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.php linguist-language=PHP

/.github export-ignore
CHANGELOG.md export-ignore

public/js/app.js linguist-vendored
